.Intro *, .solution * {
	font-size: 4vw;
}
#Specs * {font-size: 4vw; }
#arrowStop{
	top: -2%;
	position: absolute;
}

#Slideshow {
	height: 60%;
}

.boxes {
	height: 100%;
}
.slides,.pic {
	height: 100%;
}
footer {height: 25%;}
footer * {font-size: 2vw;}
input[type=text], textarea {height: 1vh;}
textarea {height: 5vh;}
footer div {width: 30%;}

nav {
	height: 3%;
}
nav ul {display: inline; position:absolute; left:15%; bottom:-110%;}
nav ul li {font-size:3vw;}
#bounce {display:none;}
.labels img {
	height:30%;
	width:90%; }
.labels { left:90%; }
#SlideshowApp {
	height:52vh;
	
}

