@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	color:#505050;
}

#Forsidebilde {
	position: relative;
	width: 100%;
	height: 93%;
	margin:0;
	padding:0;
	top: 7%;
}
#Forsidebilde header{
	
	color:#336699;
	font-family: "Open Sans";
	opacity:0.85;
	font-size:3vw;
	font-weight:600;
}
#Forsidebilde h6{
	color:black;
	font-size:1.5vw;
	opacity:0.75;
}
#Forsidebilde img {
	width: 100%; height: 93%;
}
#logo {position: absolute; top: 0; right: 0; width:6%;}
nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 7%;
	background-color: #C0C0C0; text-align: center; 
	z-index: 10;
}
nav ul li {display: inline; list-style-type: none; padding-right: 5%; font-size: 1.7vw;}
#info {
	position: absolute;
	top: 10%; left: 3%; font-family: "Myriad Pro";
	text-align: center; font-size: 1.7vw;
}
.Intro,#Specs {
	height: 100%;
	font-family: 'Open Sans';
	font-weight: 200;
	font-size: 2vw;
	line-height: 2;
}
.Intro p, .solution p
{
	padding-right:20px;
	padding-right: 60px;
    	padding-left: 60px;
    	text-align: justify;
}
.Intro h1,#Italic,#Specs h1{text-align: center;}
h1 {font-family: Verdana; font-weight: 100;}
#Specs {height: 80vh;}
#Specs table
{
	margin:0 auto;
	padding-left:12vw;
	width: 60%; 
	font-style: italic; 
	font-size: 2vw;
	font-weight:100; 
	color:rgba(0, 0, 0, 0.72);
	font-family:Raleway, "Open Sans", sans-serif;
}
#Specs table tr td{
	padding-bottom:0.5vw;
	padding-top:0.5vw;
}
#Specs table tr td img {width: 2vw; height: 2vw; margin-bottom:-0.45vh; margin-right:1vw;}
.solution { margin: 6% 0 2% 0; }
section {
	position: relative;
	width: 100%;
	height: 80vh;
	display: inline-block;
	padding:0vw 0vh 2vw 0vw; /* Shorthand : Top right bottom left;*/	
}

section h1,p { text-align: center; }
footer { width: 100%; height: 32vh; position: absolute; background-color:rgba(192, 192, 192, 0.25); }
footer * {font-size: 1vw;} footer div {display: inline-table; position: relative;}
footer ul li {
	list-style-type: none;
	font-size: 1vw;
	margin-left: -20%;
	width: 100%;
	text-align: center;
}
footer img {width: 10%;} footer a {width: 10%;}
footer table img {width: 65%;} 

a:link, a:visited {color:#336699; text-decoration:none; font-weight: 300;}
a:hover, a:active {color:#224466; font-weight: 500;}
#bounce {
  position:absolute;
  left:50%;
  height:25vh;
  width:6vw;
  /*-webkit-animation:bounce 3s infinite;*/
  z-index:9; 
  transform: translateX(-50%);
  bottom: 13%;
}

/* Slider Content */
.boxes {
  position: relative;
  width: 100vw;
  height: 80vh;
  margin: 0 auto;

}

.box {
  width: 99.5vw;
  height: 79%;
  display: inline-flex;
  color:white;
margin-top:1%;
}

.slides {
	width: 505vw;
	height:80vh;
	transition: transform 0.5s ease-in;
	padding-left: 22%;
	background-color: #336699;
	color:white;
}
.pic{padding-left: 20%; background-color: #336699; color:white;}
.pic div img {width: 40%;}

.infoh1 {position: relative; left: 8%; font-size: 4vw; color:white; margin-left:5vw; color:gold; }
.infop { position: relative; right: 22%; text-align: center; top: 20%; font-size: 3.5vw;
	font-weight: 300; color:white; margin-left:5vw;
  }

.black:checked ~ .boxes > .slides { transform: translateX(0); }
.red:checked ~ .boxes > .slides { transform: translateX(-100vw); }
.yellow:checked ~ .boxes > .slides { transform: translateX(-200vw); }
.green:checked ~ .boxes > .slides { transform: translateX(-300vw); }


.black:checked ~ .labels > .b-label,
.red:checked ~ .labels > .r-label,
.yellow:checked ~ .labels > .y-label,
.green:checked ~ .labels > .g-label
 {
  background-color: grey;
}

.labels {
  position: absolute;
  bottom: 5%;
  left: 52.5%;
  transform: translateX(-50%);
}
.labels img {position:absolute; width:31%;}
.prolabel img {width:24%; height:190%;}
.prolabel {left: 48%;display:inline-flex;bottom:6%}
.s-index {
  width: 7vw;
  height: 5vh;
  background-color: white;
  display: inline-block;
  margin-right: 6px;
  cursor: pointer;
  border: 1px solid;
}
.rnav { display: none; } 
.box iframe {width:60%; border:0; }
/* End of Slider */
article { position: absolute; 
	width: 100%;
	text-align: center;
	height: 35vh;
	color: white;
}
.Main { background-color:#336688;
	text-align: center; color: white;
	padding: 5vh 0 48vh 0; position:relative;
 }
.Main h1, .Story h1 { font-size: 3vw;} .Main p {font-size: 1.5vw; margin-right: 3%;
	line-height: 0;
} 
.Main table tr th img {border-radius: 50%; height: 29%; width: 90%;}
.Main table {width: 100%; display: inline-block;}

.Story {
	background-color: white;
	color: #336699;
	padding: 0 0 5vh 0;
	text-align: center;
	position:relative;
}
.Story table{ width: 100%;}
.Story table th img {width: 33%;}
.second{
	background-color: #336699;
	padding: 5vh 0 10vh 0; text-align:center; color:white; width:100%;
}
.second img {margin-right: 2%;}

.Main table tr th img:hover {
	transform: scale(1.5,1.5);
	transition: 2s ;
} 
input[type=text], textarea{ width: 100%; height: 100%;
 margin-bottom: 2%; color: white; box-sizing: border-box; padding: 12px 0px 10px 2px ;
 background-color: #336699; border: none; }
textarea {  resize: none; height:15vh; } button {left:30%; position:absolute;}
/*Student Slider*/
.StudentSlider {overflow: hidden;}
.StudentSlider figure img {width: 65%; border-radius: 0px 150px;
 display: inline-block;}
.StudentSlider figure div {width: 14%; display: inline-block;}
.StudentSlider figure {
	position: relative;
	width: 180%;
	margin: 0; padding: 0; left: 0;
	animation: 22s SlideAnimation infinite;
}
@keyframes SlideAnimation {
	0%, 10%,96% { left: 0% }
	12%, 22%, 84%, 94% { left: -27% }
	24%, 34%, 72%, 82% { left: -53% }
	36%,46%,60%,70% { left: -79% }
}
/* Timeline */
.Timeline-Intro {
	background-color: #336693; color: white; height: 115vh;
}
.Timeline-Intro::before {
	content: " ";
	position: absolute;
	top: 0;
	height: 100%;
	width: 4px;
	background: white;
	left: 50%;
	margin-left: -2px;
}
.Timeline-Content::before {
	content: " ";
	position: absolute;
	top: 24px;
	right: -4%;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-left-color: white;
}
.Timeline-Content span {
	float: left; padding: 0.8em 0; opacity: 0.7;
	position: absolute; width: 35%; left: 150%; top: 6px;
	font-size: 2rem; margin: 14% 0 0 0;
}
.Timeline-Content {
	position: relative;
	margin-left: 0;
	padding: 1.6em;
	width: 80%;
	border-radius: 0.25em;
	box-shadow: -1px -3px 0px white;
  }
.Timeline-Block {
	position: relative;
	margin: -1em 2.5em;
	width: 40%;
	height: 15%;
}
.Timeline-Block::after, .Timeline-Content::after {
	content: " ";
	display: table;
	clear: both;
}
.Timeline-Block div img { 
	display: block;
	width: 100px;
	height: 100px;
	position: relative;
	left: 106%;
	top: 75px;
 }
 .Timeline-Content h2 { font-size: 2.5rem; text-align: center; margin: -10% 0 2% 0;  }
 .Timeline-Content p { font-size: 1.7rem; width:100%; text-align:center; padding: 0 0 0 0; }
 .Timeline-Block:nth-child(2) {margin: 5em 27.5em;}
 .Timeline-Block:nth-child(3) {margin: 0em 2.5em;}

 .Timeline-Block:nth-child(2) .Timeline-Content::before {
 	border-right: 7px solid white;
	border-left-color: transparent;
	right: 100%;
 }
 .Timeline-Block:nth-child(2) .Timeline-Content span {left: -50%;}
  .Timeline-Block:nth-child(2) div img {left: -20%;}

