.Intro *, .solution * {
	font-size: 4vw;
}
#Specs * {font-size: 4vw; }
#arrowStop{
	top: -2%;
	position: absolute;
}

#Slideshow {
	height: 60%;
}

.boxes {
	height: 100%;
}
.slides,.pic {
	height: 100%;
}
footer {height: 14%;}
footer * {font-size: 2vw;}
input[type=text], textarea {height: 1vh;}
textarea {height: 5vh;}
footer div {width: 30%;}

nav {
	height: 2%;
	padding: 0;
	margin: 0;
}
nav ul {display: inline; position:absolute; left:18%; bottom:-164%;}
nav ul li {font-size:3vw;}
#bounce {display:none;}
