.Intro *, .solution * {
	font-size: 4vw;
}
#Forsidebilde {
	margin:4% 0 0 0;
}
footer {height: 25%;}
footer * {font-size: 2vw;}
input[type=text], textarea {height: 1vh;}
textarea {height: 5vh;}
footer div {width: 30%;}

nav {
	height: 4%;
 }
 nav ul {display: inline; position:absolute; left:-9%; bottom:-52%; width: 100%;}
 nav ul li {font-size:3vw;}
 #bounce {display:none;}
 .labels img {
 	height:30%;
 	width:90%; }
 .labels { left:85%; }
 .prolabel {left:48%; display:inline-flex; margin-bottom:4%;}
 .prolabel img {width:24%; height:100%;}
.s-index {width:14vw; height:6.5vh; } .home-index { border-radius:8px; width:24vw; height:21vh; }
 #SlideshowApp {
 	height:40vh;
 }
 .infoh1 {left:6%; font-size:4vw;color:gold; font-weight:bolder;}
 .infop{top:15%; right:23%; font-size:3.8vw;}
 
 .second h1{font-size:6vw;} .second img {width:31%;} .Main h1 {font-size:5vw;} .Main p{font-size:3.5vw;}
 .second {height:33vh;}
 .Main{height:25vh; padding-bottom:5vh;}
 .StudentSlider {position:absolute;overflow: hidden;}
#Specs {height:65vh;}
#Specs * {font-size: 4vw; }
#Specs table tr td img {width:9vw; height:10vw; margin-bottom:0vh; }
#Specs table {padding-left:0; width:87%;}
#arrowStop{
	top: -2%;
	position: absolute;
}

#Slideshow {
	height: 60%;
}
section{ height:90vw;}
.boxes {
	height: 45vh;
}
.prolabel { bottom:18%;}
.slides,.pic {
	height: 100%;
}
footer {height: 28%;}
footer img{ width:22%}
.StudentSlider figure img {width: 84%; border-radius: 50px;
 display: inline-block;}
.StudentSlider h1{ font-size:1.4vh;}
.StudentSlider figure div {width: 13%; display: inline-block;}
.StudentSlider figure {
	position: relative;
	width: 180%;
	margin: 0; padding: 0; left: 0;
	animation: 22s SlideAnimation infinite;
}
@keyframes SlideAnimation {
	0%, 10%,96% { left: 0% }
	12%, 22%, 84%, 94% { left: -27% }
	24%, 34%, 72%, 82% { left: -53% }
	36%,46%,60%,70% { left: -79% }
}

.Story table tr td{font-size: x-small;}
.Story table tr td img {width: 100%;}
.Story h1 {font-size: 7vw;}

.Timeline-Intro {height:150vh;}
.Timeline-Intro::before { content:none; }
.Timeline-Content h2 {font-size: 0.88rem;}
.Timeline-Block {width: 85%;}
.Timeline-Content p{
	font-size: 0.76rem;
	width: 100%;
	padding: 0 0 0 0;
}
.Timeline-Content::before { 
	top: -15px;
	right: 45%;
	border-left-color: transparent;
	border-bottom-color: gold;
 }
.Timeline-Block div img { 
	left: 40%;
	width: 50px; height: 50px;
	top: 0px;
 }
 .Timeline-Content span {top: -50px; font-size: 1rem; left: 75%; width: 30%;}
 .Timeline-Block:nth-child(2) {
 	margin: 14em 2.5em;
 }
 .Timeline-Block:nth-child(2) div img {left: 40%;}
 .Timeline-Block:nth-child(2) .Timeline-Content::before {
 	border-bottom-color: gold; border-right-color:transparent;
 	right: 45%;
 }
 .Timeline-Block:nth-child(2) .Timeline-Content span {left: 75%;}

#logo {right:20px; width:40px; height:50px; }

